name: TheSmoun AoC Builder
on:
  push:
    branches: [ 'master' ]
jobs:
  Build-Donet:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        year: ['2025']
        day: ['06']
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: dotnet restore "src/${{ matrix.year }}/Day${{ matrix.day }}/Day${{ matrix.day }}.csproj"
      - name: Publish
        run: dotnet publish "src/${{ matrix.year }}/Day${{ matrix.day }}/Day${{ matrix.day }}.csproj" -c Release -r linux-x64
      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: runnable
          path: |
            src/${{ matrix.year }}/Day${{ matrix.day }}/bin/Release/net10.0/linux-x64/publish
